<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../components/webHead.ejs")  %>
</head>

<body>
  <%- include("../components/webHeader.ejs")  %>
  <span><%= t("hello")  %></span>
  <h1>About</h1>
</body>

</html>